body{
    overflow-x: hidden;
    background-color: #25282b;
}



.GIF {
    width: 1920px;
    height: 700px;
    object-fit: cover;
    position: relative;
    right: 10px;
    bottom: 10px;
    filter: brightness(100%) contrast(100%);
  }

.navbar_line{
    width: 1920;
    height: 100px;
    color: black;
    background-color: transparent;
    border: 2px solid transparent;
    backdrop-filter: blur(20px);

    position: relative;
    right: 10px;
    bottom: 745px;
}

.navbar_button{
    display: flex;
    justify-content: space-between;
    margin-right: 1700px;
    
    position: relative;
    top: 0px;
    left: 100px;
}

.navbar_button2{
    display: flex;
    justify-content: space-between;
    margin-right: 1700px;
    
    
    position: relative;
    left: 1300px;
    top: -92px;
}


.Features{
    padding: 43px;
    font-weight: 700;
    background-color: transparent;
    border: 3px solid transparent;
    color: white;
    font-family: 'Oswald', sans-serif;
    font-family: 'Rubik', sans-serif;
    font-size: 20px;

    position: relative;
    bottom: -10px;
    width: 800px;
    height: 92px;
    
}

.Features:hover{
    background-color: rgba(255, 255, 255, 0.1);
}

.Blog{
    padding: 43px;
    font-weight: 700;
    background-color: transparent;
    border: 3px solid transparent;
    color: white;
    font-family: 'Oswald', sans-serif;
    font-family: 'Rubik', sans-serif;
    font-size: 20px;

    position: relative;
    bottom: -10px;
    width: 800px;
    height: 92px;
    
}

.Blog:hover{
    background-color: rgba(255, 255, 255, 0.1);
}

.Community{
    padding: 43px;
    font-weight: 700;
    background-color: transparent;
    border: 3px solid transparent;
    color: white;
    font-family: 'Oswald', sans-serif;
    font-family: 'Rubik', sans-serif;
    font-size: 20px;

    position: relative;
    bottom: -10px;
    width: 800px;
    height: 92px;
    
}

.Community:hover{
    background-color: rgba(255, 255, 255, 0.1);
}

.About{
    padding: 43px;
    font-weight: 700;
    background-color: transparent;
    border: 3px solid transparent;
    color: white;
    font-family: 'Oswald', sans-serif;
    font-family: 'Rubik', sans-serif;
    font-size: 20px;

    position: relative;
    bottom: -10px;
    width: 800px;
    height: 92px;
    
}

.About:hover{
    background-color: rgba(255, 255, 255, 0.1);
}

.Assets{
    padding: 43px;
    font-weight: 700;
    background-color: transparent;
    border: 3px solid transparent;
    color: white;
    font-family: 'Oswald', sans-serif;
    font-family: 'Rubik', sans-serif;
    font-size: 20px;

    position: relative;
    bottom: -10px;
    width: 800px;
    height: 92px;
    
}

.Assets:hover{
    background-color: rgba(255, 255, 255, 0.1);
}

.Download{
    padding: 43px;
    font-weight: 700;
    background-color: transparent;
    border: 3px solid transparent;
    color: white;
    font-family: 'Oswald', sans-serif;
    font-family: 'Rubik', sans-serif;
    font-size: 20px;

    position: relative;
    bottom: -10px;
    width: 800px;
    height: 92px;
    
}

.Download:hover{
    background-color: rgba(255, 255, 255, 0.1);
}

.Learn{
    padding: 43px;
    font-weight: 700;
    background-color: transparent;
    border: 3px solid transparent;
    color: white;
    font-family: 'Oswald', sans-serif;
    font-family: 'Rubik', sans-serif;
    font-size: 20px;

    position: relative;
    bottom: -10px;
    width: 800px;
    height: 92px;
    
}

.Learn:hover{
    background-color: rgba(255, 255, 255, 0.1);
}

.logo{
    position: relative;
    bottom: 819px;
    left: 20px;
    width: 4%;
    height: 8%;
}


.download_t{
    font-size: 60px;
    color: white;
    position: relative;
    bottom: 740px;
    left: 670px;
    font-family: 'Geologica', sans-serif;
    font-family: 'Oswald', sans-serif;
    font-family: 'Rubik', sans-serif;
}

.download_t2{
    font-size: 60px;
    color: white;
    position: relative;
    bottom: 760px;
    left: 784px;
    font-family: 'Geologica', sans-serif;
    font-family: 'Oswald', sans-serif;
    font-family: 'Rubik', sans-serif;
}
.m_download{
    font-weight: 700;
    font-size: 30px;
    font-family: 'Geologica', sans-serif;
    font-family: 'Oswald', sans-serif;
    font-family: 'Rubik', sans-serif;
    padding: 10px;
    border: 10px;
    position: relative;
    bottom: 750px;
    left: 815px;
    width: 300px;
    height: 60px;
    background-color: transparent;
    backdrop-filter: blur(5px);
    color: white;
    border: 3px solid white;
    cursor: pointer;

}


.requirements{
    width: 1100px;
    height: 200px;
    background-color: rgb(61, 61, 61);

    position: relative;
    bottom: 480px;
    left: 400px;
}


.requirements2{
    font-family: 'Geologica', sans-serif;
    font-family: 'Oswald', sans-serif;
    font-family: 'Rubik', sans-serif;
    color: white;
    font-size: 2.5rem;

    position: relative;
    top: 20px;
    left: 25px;
}

.python{
    font-weight: 700;
    font-size: 20px;
    font-family: 'Geologica', sans-serif;
    font-family: 'Oswald', sans-serif;
    font-family: 'Rubik', sans-serif;
    color: white;

    position: relative;
    bottom: 143px;
    left: 70px;
}

.dot{
    font-size: 30px;
    padding: 10px;
    color: white;
    position: relative;
    left: 25px;
}

.dot2{
    font-size: 30px;
    padding: 10px;
    color: white;
    position: relative;
    left: 25px;
}

.vs_code{
    font-size: 20px;
    font-family: 'Geologica', sans-serif;
    font-family: 'Oswald', sans-serif;
    font-family: 'Rubik', sans-serif;

    position: relative;
    bottom: 52px;
    left: 70px;

    color: white;
    text-decoration-color: white;
}

.box1{
    width: 640px;
    height: 500px;
    background-color:  rgb(61, 61, 61);
    position: relative;
    bottom: 470px;
    left: 400px;
}

.box2{
    width: 450px;
    height: 500px;
    background-color:  rgb(61, 61, 61);
    position: relative;
    bottom: 970px;
    left: 1050px;
}